includes:
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		- '#should return React\\Promise\\ExtendedPromiseInterface but returns React\\Promise\\PromiseInterface#'

		# ignored strict rules
		- '#Dynamic call to static method#'
		- '#Call to method PHPUnit\\Framework\\Assert::assertTrue\(\) with true will always evaluate to true\.#'
